<%- include('./header'); %> 

    <!-- start of tab/contents container -->
    <div class="container-fluid ">

      <!-- start of tab links/buttons -->
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active text-dark" id="visits-tab" data-bs-toggle="tab" data-bs-target="#visits" type="button" role="tab" aria-controls="visits" aria-selected="true">Visits</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-dark" id="establishments-tab" data-bs-toggle="tab" data-bs-target="#establishments" type="button" role="tab" aria-controls="establishments" aria-selected="false">Establishments</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link text-dark" id="visitors-tab" data-bs-toggle="tab" data-bs-target="#visitors" type="button" role="tab" aria-controls="visitors" aria-selected="false">Visitors</button>
        </li>
      </ul>
      <!-- end of tab links/buttons -->
      
      <!-- start of tab contents -->
      <div class="tab-content" id="myTabContent">
        <!-- visit tab content -->
        <div class="tab-pane fade show active" id="visits" role="tabpanel" aria-labelledby="visits-tab">
          <table class="table table-hover table-striped table-dark">
            <thead>
              <tr>
                <% for (const property in visits[0]._doc) { %>
                  <th><%= property %></td>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for (const index in visits) { %>
                <tr>
                  <% for (const property in visits[index]._doc) { %>
                    <td><%= visits[index]._doc[property] %></td>
                  <% } %>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <!-- end of visit tab content -->

        <!-- Establishment tab content -->
        <div class="tab-pane fade" id="establishments" role="tabpanel" aria-labelledby="establishments-tab">
          <table class="table table-hover table-striped table-dark">
            <thead>
              <tr>
                <% for (const property in establishments[0]._doc) { %>
                  <th><%= property %></td>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for (const index in establishments) { %>
                <tr>
                  <% for (const property in establishments[index]._doc) { %>
                    <td><%= establishments[index]._doc[property] %></td>
                  <% } %>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <!-- end of establishments tab content -->

        <!-- visitors tab content -->
        <div class="tab-pane fade" id="visitors" role="tabpanel" aria-labelledby="visitors-tab">
          <table class="table table-hover table-striped table-dark">
            <thead>
              <tr>
                <% for (const property in visitors[0]._doc) { %>
                  <th><%= property %></td>
                <% } %>
              </tr>
            </thead>
            <tbody>
              <% for (const index in visitors) { %>
                <tr>
                  <% for (const property in visitors[index]._doc) { %>
                    <td><%= visitors[index]._doc[property] %></td>
                  <% } %>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
        <!-- end of visitor tab content -->

      </div>
      <!-- end of tab contents -->

    </div>
    <!-- end of table tabs and contents container -->
    <script src="../renderers/require.js"></script>
<%- include('./footer'); %> 