<!DOCTYPE html>
  <html lang=en>
    <%- include('./headOpening'); %> 
      <link rel="stylesheet" href="../css/data.css">
    <%- include('./headClosing'); %> 

    <body>
      <%- include('./navigation'); %> 
      <main>
        <div class="content-area">
          <%- include('./dataNavigation'); %> 
  
          <h2>Visit Table</h2>
          <div class="table-area">
            <table id="visitTBL" class="data-tbl">
              <thead>
                
              </thead>
              <tbody>
                <!-- data will be inserted here -->
              </tbody>

            </table>
          </div>
        </div>
      </main>

      <script src="../renderers/require.js"></script>
      <script src="../renderers/visitDataPage.js"></script>
      <script src="../renderers/dataNavigationRenderer.js"></script>
      <%- include('./footer'); %> 
    </body>
  </html>
